.image_city{
    display: flex;
    flex-direction: row-reverse;
    justify-content: flex-end;
    border-top: .5px solid rgba(139, 139, 139, 0.445);
}

#discover_container{
    padding-top: 2%;
}

#discover_img {
    border-radius: 5px;
    width: 200px;
    height: 150px;
    padding-top: 10%;
    margin-left: 5%;
}

#discovercard_img {
    max-width: 500px;
    max-height: 500px;
}
#discover_city{
    margin: 5%;
}

.city_list{
    max-height: 40em;
    min-width: 30em;
}

.profile-post{
    text-decoration: none;
    font-weight: bolder;
    color: black;
}

.navbar-brand {
    margin-left: 1em;
}
