{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="row">
    <h1 class="">Meet the team</h1>
</div>
<div class="row">
<div class="col-sm-4">
    <h2>James Shin</h2>
    <p class="col-sm-8">I am a seasoned Polymer Research and Process Engineer with a proven product development and manufacturing scale-up record in applications such as adidas Futurecraft 4D, additive manufacturing, electromagnetic interference shielding, and thermal management.</p>
</div>
<div class="col-sm-4">
    <h2>KT Go</h2>
    <p class="col-sm-8">Experienced, 13+ years in web design; love organizing, categorizing and making information easily accessible and understandable for people. Enjoy finding solutions that are cost and time efficient for both client and user. Hardworking, reliable and flexible. </p>
</div>
<div class="col-sm-4">
    <h2>Ani Espinet</h2>
    <p>Hello, world. I’m Ani. I am an aspiring software engineer with a background in Early Childhood STEM Education - what I can bring to the table, more than anything else, is an agile, solution-first mindset.</p>
</div>
</div>





{% endblock%}