{% extends 'base.html' %}
{% load static %}
{% block formscript %} 
    {{post_form.media}}
{% endblock %}

{% block content %}
<div class="row">
    <h1 class="d-none">Discover Page</h1>
</div>
    <div id="discover_container">
        <div class="row">
            <h2>Cities</h2>
            <div class="city_list overflow-auto col-sm-4">
                {% for location in locations %}
                    <div class="image_city">
                        <h2 class="d-none" id="locationid">{{location.pk}}</h2>
                        <h3 class="cities" id="discover_city">{{location.city}}</h3>
                        <p class="d-none" id="discover_country">{{location.country}}</p>
                        <p class="d-none" id="city_description">{{location.description}}<p>
                        <img src="{{location.img}}" class=".img-fluid "id="discover_img"/>
                        {% for post in posts %}
                        {% if post.location.pk == location.pk %}
                            <div class="row location_post d-none">

                                <div class="col-4">
                                    {% if post.content_img %}
                                        <img src="{{post.content_img}}" class="post_img img-fluid" id="post_img"/>
                                    {% else %}
                                        <div class="col-sm-4">
                                            <img class="img-fluid" src={% static 'assets/default_photo.png'%}>
                                        </div>
                                    {% endif %}
                                </div>

                                <div class="mt-2 col-8">
                                    <a class= "post-title-link" href="{% url 'view_post' post.pk %}">
                                        <p class="discovercardcontent post_title">{{post.title}}</p>
                                    </a>
                                    <p class="discovercardcontent">{{post.content}}</p>
                                    <p class="discovercardcontent postsignature">posted by <span class="userid">{{post.user}}<span></p>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                    </div>
                {% endfor %}
            </div>
            <div class="discover_desc col">
                <div id="discovercard">
                    
                </div>
                <div class="row d-none"  id="postbtn">
                    <div class="col postline">
                        <h4>Posts</h4>
                    </div>
                    <div class="col-sm-1">
                        <a role="button" class="nav-link" data-bs-toggle="modal" data-bs-target="#createPostModal">+</a>
                        <!-- Modal -->
                        <div class="modal fade" id="createPostModal" tabindex="-1" aria-labelledby="createPostModalLabel" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="createPostModalLabel">Create Post</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                            <div class='col'>
                                                <form method="post" action="{% url 'create_post' %}">
                                                    {% csrf_token %} {{post_form.as_p}}
                                                    <input type="submit" class="btn btn-primary" value="Post" />
                                                    <input type="hidden" name="next" value="{{ next }}" />
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <div>
                <div class="dicover_postlist overflow-auto col-sm-12 d-none" id="discover_post_container">

                </div>
            </div>
        </div>
    </div>
{% endblock %}