{% extends 'base.html' %}
{% block content %}
<div class="row">
    <h1 class="d-none">Discover Page</h1>
</div>
    <div id="discover_container">
        <div class="row">
            <div class="city_list overflow-auto col-sm-4">
                {% for location in locations %}
                    <div class="image_city">
                        <h2 class="d-none" id="locationid">{{location.pk}}</h2>
                        <h4 class="cities" id="discover_city">{{location.city}}</h4>
                        <p class="d-none" id="discover_country">{{location.country}}</hp>
                        <p class="d-none" id="city_description">{{location.description}}<p>
                        <img src="{{location.img}}" class=".img-fluid "id="discover_img"/>
                        {% for post in posts %}
                        {% if post.location.pk == location.pk %}
                            <div class="" id="location_posts">
                            <img src="{{post.content_img}}" class=".img-fluid" id="post_img"/>
                            <h5>{{post.title}}</h5>
                            <p>{{post.content}}</p>
                            <p>posted by {{post.user}}</p>
                            </div>
                        {% endif %}
                    {% endfor %}
                    </div>
                {% endfor %}
            </div>
            <div class="discover_desc col">
                <div id="discovercard">
                   
                </div>
               
            </div>
        </div>
    </div>
{% endblock %}