{% extends 'base.html' %}
{% load static %}

{% block content %}
    <div class="row h-100">
        <img src="{% static 'assets/banner.jpg' %}"/>
    </div>
    <div class="row">
        <div class="col-4 d-flex justify-content-center">
            <p>Insert text here</p>
        </div>
        <div class="col-4 d-flex justify-content-center">
            <p>Insert text here</p>
        </div>
        <div class="col-4 d-flex justify-content-center">
            <p>Insert text here</p>
        </div>
    </div>
{% endblock %}