{% extends 'base.html' %} 
{% block title %}- Delete {% endblock %}
{% block content %}
{% load static %}

<div class="detail__img">
    {% if post.content_img %}
    <img class="img-fluid" src="{{post.content_img}}" alt="{{post.title}}">
        {% else %}
    <img class="img-fluid" src="{% static 'assets/default_photo.png'%}">
        {% endif %}
</div>
<p class="title pt-5">Are you sure you want to delete your post?</p>
<p class="title pt-5">"{{post.title}}"</p>
</br>
<div>
    <form method="post">
    {% csrf_token %}
    <div class="buttons">
    <!-- confirm artist delete -->
        <input class="button is-danger" type="submit" value="Confirm" />
        <!-- Redirect back to detail on cancel -->
        <a class="button is-primary" href="{% url 'view_post' post.pk %}">Cancel</a>
    </div>
</form>
</br>
</br>
</div>
{% endblock %}