{% extends 'base.html' %}
{% block content %}

    <div class="detail__img">
        <img src="{{post.content_img}}" alt="{{post.title}}" />
    </div>

    <div class="detail__name">
        <h1 class="title">{{post.title}}</h1>
    </div>

    <div class="detail__container">

        {% if user.is_authenticated and user == post.user%}
            <div class="buttons">
                <a href="{% url 'post_update' post.pk %}" class="btn btn-primary">Update
                    <span class="icon">
                        <i class="fas fa-edit"></i>
                    </span>
                </a>
                <a href="{% url 'post_update' post.pk %}" class="btn btn-danger">Delete
                    <span class="icon">
                        <i class="fas fa-edit"></i>
                    </span>
                </a>
            </div>
        {% endif %}

        <div class="content">
            {{post.content}}
        </div>
    </div>
{% endblock %} 