{% extends 'base.html' %}
{% block content %}

    <div class="detail__img">
        <img src="{{post.content_img}}" alt="{{post.title}}" />
    </div>

    <div class="detail__name">
        <h1 class="title">{{post.title}}</h1>
    </div>

    <div class="detail__container">

        <div class="buttons">
            <div class="detail__container">
                <div class="buttons">
                    <div class="buttons">
                        <a href="{% url 'post_update' post.pk %}" class="button is-info"> Updates
                            <span class="icon">
                                <i class="fas fa-edit"></i>
                            </span>
                        </a>
                        <a href="{% url 'post_update' post.pk %}" class="button is-danger"> Delete Post!
                            <span class="icon">
                                <i class="fas fa-edit"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="content">
            {{post.content}}
        </div>
    </div>
{% endblock %} 